*,
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
    background-image: url("../Images/backgroundTrim.png");
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);

    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


.signUpTest {
    clear: both;
    color: white;
    height: 600px;
    width: 340px;
    margin-top:20%;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.form-box h2 {
    padding-top: 100px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 2em;
}

.input-box {
    position: relative;
    width: 90%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 20px 30px 20px;
}

.icon img {
    height: 15px;
    width: 15px;
    padding-left: 300px;
    line-height: 57px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 0;
}

.confirm {
    background-color: #062076;
    color: white;
    border: none;
    padding: 10px;
    transition: all .1s ease-out;
    border-radius: 3px;


}

.confirm:hover {
    background-color: white;
    color: #062076;
    transition: all .1s ease-out;
}

.form-box #whiteColor {
    color: white;
}

@media screen and (max-width: 600) {
    .signUpTest {
        width: 75%;
    }
}