body {
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
    background-image: url("../Images/backgroundTrim.png");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.eachBand1 {
    clear: both;
    height: 50%;
    width: 30%;
    margin: 0% 0% 1% 0%;
    padding-bottom: 2%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

#logo {
    height: 100px;
    width: 200px;
}

.eachBand {
    float: left;
    height: 50%;
    width: 32.2%;
    padding-bottom: 1%;
    margin: 0% 0.3% 0% 0.3%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 900px) {

    .eachCreator,
    .eachBand1,
    .eachBand {
        width: 95%;
        margin: 0 0 2% 0;
    }

    .eachBand {
        margin-left: 2%;
    }

    .button {
        padding-left: 20%;
        padding-right: 20%;
    }
}

#logoutButton {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 0;
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: .5s;
    float: right;
    cursor: pointer;
    margin: 30px 30px 0px 0px;
}

#logoutButton:hover {
    background-color: white;
    color: black;
}

.grid {
    fill: none;
    stroke: #ccc;
}

.area {
    fill: rgba(0, 255, 255, 0.5);
    stroke: #00FFFF;
    stroke-width: 2;
}

#radarChart {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    justify-content: center;
    text-align: center;
}